<div class="bg-white">
    <div class="container outer-container">
        <div class="logo">
            <img src="/images/fk-header-logo.svg" alt="Flipkart Logo" width="160" height="40"/>
        </div>
        <div class="header-search">
            <div class="search-bar">
                <button>
                    <img src="/images/search-icon.svg" alt="Search Icon" width="20" height="20"/>
                </button>
                <input type="text" placeholder="Search for Products, Brands and More" />
            </div>
        </div>
        <div class="right-pane d-flex">
            <div class="login-container">
            <img src="/images/profile.svg" alt="Profile Icon" width="40" height="40"/>
            </div>
            <div class="cart-container">
            <img src="/images/cart.svg" alt="Cart Icon" width="40" height="40"/>
            </div>
            <div class="seller-container">
            <img src="/images/store.svg" alt="Store Icon" width="40" height="40"/>
            </div>
            <div class="others-container"></div>
        </div>
    </div>
</div>