* {
    background: #ffffff;
    font-family: 'Inter';
}

.main-container{
    padding: 12px 28px;
    .outer-container {
        display: flex;
        align-items: center;
    
        .header-search {
            width: 100%;
            margin-inline: 175px;
            background: #f0f5ff;
            border-radius: 8px;
            display: flex;
            align-items: center;
            height: 40px;
            margin-inline-start: 20px;
            padding-inline: 15px;
    
            input {
                width: 100%;
                border: 0;
                margin-inline-start: 15px;
                &:focus-visible{
                    outline: none;
                }

            }
    
            * {
                background: #f0f5ff;
    
            }
        }
    
        .right-pane {
            margin-inline-start: auto;
        }
    }
}